@page "/"

@inject AllGameController allGameController

@code {
    public GameFlowController gameFlowController;
    private NewStageItemsChoosingDialog newStageDialog;
    private StageCompletedDialog stageCompletedDialog;
    protected override void OnInitialized()
    {
        gameFlowController = allGameController.Game;
        gameFlowController.OnNewStageStarted += (newStageNumber) => newStageDialog.Open(newStageNumber);

    }
}
<div class="home-page-container">
    <div class="home-central">
        <SlotMachineComponent SlotMachine="@gameFlowController.SlotMachine" />
        @if (gameFlowController.CoinsEnoughToCompleteTheStage())
        {
            <div class="container-for-complete-stage">
                <StageProgressBar CurrentCoins="@gameFlowController.CoinsCount" CoinsNeeded="@gameFlowController.CoinsNeededToCompleteTheStage" CurrentStage="@gameFlowController.CurrentStage" />
                <button @onclick="CompleteStage" class="complete-stage-button ">
                    Complete Stage
                </button>
            </div>
        }
        else
        {
            <StageProgressBar CurrentCoins="@gameFlowController.CoinsCount" CoinsNeeded="@gameFlowController.CoinsNeededToCompleteTheStage" CurrentStage="@gameFlowController.CurrentStage" />
        }
        <div class="bottom-content">
            @if (gameFlowController.SpinsLeft > 0)
            {

                <button @onclick="SpinSlotMachine" class="spin-button unselectable">
                    @gameFlowController.SpinsLeft
                    <svg width="32px" height="32px" viewBox="0 0 24 24" fill="none" transform="rotate(180)">
                        <path d="M12 2C17.5228 2 22 6.47715 22 12C22 17.5228 17.5228 22 12 22C6.47715 22 2 17.5228 2 12C2 9.20261 3.14864 6.67349 5 4.85857" stroke="#000000" stroke-width="1.5" stroke-linecap="round" />
                        <path d="M5 12C5 15.866 8.13401 19 12 19C15.866 19 19 15.866 19 12C19 8.13401 15.866 5 12 5" stroke="#000000" stroke-width="1.5" stroke-linecap="round" />
                        <path d="M12 16C14.2091 16 16 14.2091 16 12C16 9.79086 14.2091 8 12 8" stroke="#000000" stroke-width="1.5" stroke-linecap="round" />
                    </svg>
                </button>
            }
            else
            {
                <label>No spins left</label>
            }
        </div>

    </div>
    <InventoryComponent inventory="gameFlowController.Inventory" />
</div>
<NewStageItemsChoosingDialog @ref="newStageDialog" />
<StageCompletedDialog @ref="stageCompletedDialog" StartNewStage="()=>{gameFlowController.StartNewStage();StateHasChanged();  }" />

@code {

    private void SpinSlotMachine()
    {
        gameFlowController.SpinSlotMachine();
        if (gameFlowController.SpinsLeft <= 0)
        {
            if (gameFlowController.CoinsEnoughToCompleteTheStage())
            {

            }
            else
            {

            }

        }
    }
    private async void CompleteStage()
    {
        var stageRes = gameFlowController.CompleteStage();
        await stageCompletedDialog.Open(stageRes);
    }
}
